    <p><%= message %></p>

<br><br>

<h2>This Moment's Billboard</h2>
<br><br>


<% list.forEach((song) => {  %>
  <h4><%= song.artistName %> - <%= song.title %></h4>
  <% let embedUrl = "http://www.youtube.com/embed/" + youtube_parser(song.link) %>
  <iframe class="ytplayer" type="text/html" frameborder="0"
              src= <%= embedUrl %> >
  </iframe>
  <br>
  <div id=<%= song._id %>>
    <div class="arrow-up plus"></div>
    <div class="circle" ></div>
    <div class="arrow-down minus"></div>
  </div>
  <p><%= song.score %></p>
  <br><br><br>
<% }); %>


<script type="text/javascript">
$(".plus").click(function() {
  let target = $(this).parent().attr("id");
  console.log(target);
  $.ajax({
    method: "POST",
    url: "/actions/vote",
    data: { target, up: "yes" },
    success: () => {
      console.log("yay");
    },
    error: () => {
      console.log("noooo");
    }
  });
});
$(".plus").click(function() {
  $(this).addClass("change");
});

$(".minus").click(function() {
  let target = $(this).parent().attr("id");
  $.ajax({
    method: "POST",
    url: "/actions/vote",
    data: { target, up: "no" },
    success: res => {
      console.log("yay");
      console.log(res);
    },
    error: () => {
      console.log("noooo");
    }
  });
});

$(".minus").click(function() {
  $(this).addClass("change");
});
</script>
