    <div id="hello"> <h1><%= message %></h1></div>

<br><br>

<div id="bilboard"><h2>This Moment's Billboard</h2></div>


<% list.forEach((song) => {  %>
  <div id="song"><h4><%= song.title %></h4></div>
  <% let embedUrl = "http://www.youtube.com/embed/" + youtube_parser(song.link) %>
  <iframe class="ytplayer" type="text/html" frameborder="0"
              src= <%= embedUrl %> >
  </iframe>
  <br>
  <div id=<%= song._id %>>
    <div class="arrow-up plus"></div>
    <div class="circle" ></div>
    <div class="arrow-down minus"></div>
  </div>
  <p><%= song.score %></p>
  <br><br><br>
<% }); %>


<script type="text/javascript">
$(".plus").click(function() {
  let target = $(this).parent().attr("id");
  console.log(target);
  $.ajax({
    method: "POST",
    url: "/actions/vote",
    data: { target, up: true },
    success: () => {
      console.log("yay");
    },
    error: () => {
      console.log("noooo");
    }
  });
});
$(".plus").click(function() {
  $(this).addClass("change");
});
//$(".minus").click(function() {
  //vote(false, $(this).parent().attr("id"));
//});
$(".minus").click(function() {
  $(this).addClass("change");
});
</script>
